<app-header></app-header>
<div class="bg-light pt-2">
    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 font-italic" style="color:'#937031'"> CX Loyalty Admin Tool
                </h2>
            </div>
            <div class="col-md-5">
                <p-image src="assets/images/download.png" alt="Image" width="500"></p-image>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>