<p-messages [(value)]="messageShow"></p-messages>
<div class="col-lg-12 mt-4">
    <div class="card dtc-card">
        <div class="card-body">
            <div class="card dtc-profile-card">
                <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                    <h5>Profile Details</h5>
                    <div class="action-wrapper">
                        <button pButton pRipple type="button" icon="pi pi-ellipsis-v" iconPos="right" label="Actions"
                            class="pe-0 p-button-text fw-bold p-button-rounded" (click)="menu.toggle($event)"></button>
                        <p-menu appendTo="body" #menu [popup]="true" [model]="items" [style]="{'width':'220px'}">
                        </p-menu>
                    </div>
                </div>
                <div class="card-body col-lg-12">
                    <div class="row  mx-0">
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">First Name : </label>
                            <span>{{profileDetails?.firstname}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Last Name : </label>
                            <span>{{profileDetails?.lastname}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Email : </label>
                            <span>{{profileDetails?.email}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Phone Number : </label>
                            <span> {{profileDetails?.phone}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Zip : </label>
                            <span>{{profileDetails?.postalcode}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Birthday : </label>
                            <span>{{profileDetails?.birthday | date: 'MM/dd/yyyy'}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">UUID : </label>
                            <span>{{profileDetails?.uuid}}</span>
                        </div>
                        <div class="form-group col-6">
                            <label class="form-label col-lg-4 fw-semibold">Email OptIn : </label>
                            <span>{{profileDetails?.emailOptIn}}</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 mt-4 tabViewCustome">
                <p-tabView styleClass="tabview-custom">
                    <p-tabPanel>
                        <ng-template pTemplate="header">
                            <i class="pi pi-wallet pr-2"></i>
                            <span>Stored value cards</span>
                        </ng-template>
                        <div class="row mx-0">
                            <div class="col dataTableCustome">
                                <p-table styleClass="main-table" #dt [value]="storedCards" dataKey="creditCardNumber"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="loading" [paginator]="true" selectionMode="single"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [globalFilterFields]="['creditCardNumber','value', 'primary', 'autoreload','aramount', 'arThreshold', 'cc']"
                                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                    <ng-template pTemplate="caption">
                                        <div class="d-flex justify-content-between w-100">
                                            <span class="p-input-icon-left w-75 pr-4">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" class="w-100"
                                                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Search keyword" />
                                            </span>
                                            <button pButton label="Add SV Card"
                                                class="p-button-outlined fw-semibold p-button-rounded" icon="pi pi-plus"
                                                (click)="addSvCard()"></button>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="creditCardNumber">Credit card Number <p-sortIcon
                                                    field="creditCardNumber"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="value">Value <p-sortIcon field="value">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="primary">Primary <p-sortIcon field="primary">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="autoreload">Autoreload <p-sortIcon
                                                    field="autoreload"></p-sortIcon>
                                            <th pSortableColumn="aramount">ARAmount <p-sortIcon field="aramount">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="arThreshold">ARThreshold <p-sortIcon
                                                    field="arThreshold"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="cc">CC <p-sortIcon field="cc"></p-sortIcon>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-cards>
                                        <tr [pSelectableRow]="cards">
                                            <td>
                                                {{cards?.creditCardNumber}}
                                            </td>
                                            <td>
                                                {{cards?.value}}
                                            </td>
                                            <td>
                                                {{cards?.primary}}
                                            </td>
                                            <td>
                                                {{cards?.autoreload}}
                                            </td>
                                            <td>
                                                {{cards?.aramount | currency:'USD'}}
                                            </td>
                                            <td>
                                                {{cards?.arThreshold}}
                                            </td>
                                            <td>
                                                {{cards?.cc}}
                                            </td>
                                            <td style="text-align:center">
                                                <button pButton pRipple type="button"
                                                    class="p-button-rounded p-button-text" icon="pi pi-ellipsis-v"
                                                    (click)="action.toggle($event)"></button>
                                                <p-menu #action appendTo="body" [popup]="true" [model]="actions"
                                                    [style]="{'width':'280px'}">
                                                </p-menu>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="5">No stored cards found.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Credit Cards">
                        <ng-template pTemplate="header">
                            <i class="pi pi-credit-card pr-2"></i>
                            <span>Credit Cards</span>
                        </ng-template>
                        <div class="row mx-0">
                            <div class="col dataTableCustome">
                                <p-table styleClass="main-table" #dt1 [value]="creditCards" dataKey="creditCardNumber"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="loading" [paginator]="true" selectionMode="single"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [globalFilterFields]="['creditCardNumber','type', 'expiry', 'billingZip','primary']"
                                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                    <ng-template pTemplate="caption">
                                        <div class="d-flex justify-content-between w-100">
                                            <span class="p-input-icon-left w-75 pr-4">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" class="w-100"
                                                    (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Search keyword" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="creditCardNumber">Credit Card Number <p-sortIcon
                                                    field="creditCardNumber"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="expiry">Expiry <p-sortIcon field="expiry">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="billingZip">Billing Zip <p-sortIcon
                                                    field="billingZip"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="primary">Primary <p-sortIcon field="primary">
                                                </p-sortIcon>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-ccards>
                                        <tr [pSelectableRow]="ccards">
                                            <td>
                                                {{ccards?.creditCardNumber}}
                                            </td>
                                            <td>
                                                <img width="60" height="60" src="assets/images/{{ccards?.type}}.png"
                                                    alt="{{ccards?.type}}">
                                            </td>
                                            <td>
                                                {{ccards?.expiry}}
                                            </td>
                                            <td>
                                                {{ccards?.billingZip}}
                                            </td>
                                            <td>
                                                {{ccards?.primary}}
                                            </td>

                                            <td style="text-align:center">
                                                <button pButton pRipple type="button"
                                                    class="p-button-outlined fw-semibold p-button-rounded p-button-danger"
                                                    icon="pi pi-trash" label="Delete"
                                                    (click)="deleteStoredCard()"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="5">No credit cards found.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Order History">
                        <ng-template pTemplate="header">
                            <i class="pi pi-cart-plus pr-2"></i>
                            <span>Order History</span>
                        </ng-template>
                        <div class="row mx-0">
                            <div class="col dataTableCustome">
                                <p-table styleClass="main-table" #dt2 [value]="orderHistory" dataKey="orderNumber"
                                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                    [loading]="loading" [paginator]="true" selectionMode="single"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [globalFilterFields]="['orderNumber','svCard', 'amount', 'cardNumber','cardType','tansactionDate','status']"
                                    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                    <ng-template pTemplate="caption">
                                        <div class="d-flex justify-content-between w-100">
                                            <span class="p-input-icon-left w-75 pr-4">
                                                <i class="pi pi-search"></i>
                                                <input pInputText type="text" class="w-100"
                                                    (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                                    placeholder="Search keyword" />
                                            </span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="orderNumber">Order Number<p-sortIcon
                                                    field="orderNumber"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="svCard">SV Card <p-sortIcon field="svCard">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="amount">Amount <p-sortIcon field="amount">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="cardNumber">Card Number <p-sortIcon
                                                    field="cardNumber"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="cardType">Card Type <p-sortIcon field="cardType">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="tansactionDate">Transaction Date <p-sortIcon
                                                    field="tansactionDate">
                                                </p-sortIcon>
                                            </th>
                                            <th pSortableColumn="status">Status <p-sortIcon field="status">
                                                </p-sortIcon>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-order>
                                        <tr [pSelectableRow]="order">
                                            <td>
                                                {{order?.orderNumber}}
                                            </td>
                                            <td>
                                                {{order?.svCard}}
                                            </td>
                                            <td>
                                                {{order?.amount | currency:'USD'}}
                                            </td>
                                            <td>
                                                {{order?.cardNumber}}
                                            </td>
                                            <td>
                                                <img width="60" height="60" src="assets/images/{{order?.cardType}}.png"
                                                    alt="{{order?.cardType}}">
                                            </td>
                                            <td>
                                                {{order?.tansactionDate}}
                                            </td>
                                            <td>
                                                <span class="badge" [ngClass]="{
                                                        'text-bg-success': order?.status === 'Sent',
                                                        'text-bg-warning': order?.status === 'Refund'
                                                      }">{{order?.status | titlecase}}</span>
                                            </td>
                                            <td style="text-align:center">
                                                <button pButton pRipple type="button" (click)="refund()"
                                                    icon="pi pi-replay"
                                                    class="p-button-text fw-semibold p-button-rounded"
                                                    label="Refund"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="5">No order history vailable.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Third Party">
                        <ng-template pTemplate="header">
                            <i class="pi pi-shield pr-2"></i>
                            <span>Third Party</span>
                        </ng-template>
                        <div class="card dtc-profile-card">
                            <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                                <h5>Third Party</h5>
                            </div>
                            <div class="card-body col-lg-12">
                                <div class="row  mx-0">
                                    <div class="form-group d-flex col-12">
                                        <label class="form-label col-lg-4 fw-semibold align-self-center m-0">Listrak
                                            : </label>
                                        <p-selectButton [options]="listrakOptions" [(ngModel)]="listrak"
                                            optionLabel="label" optionValue="value"></p-selectButton>
                                    </div>
                                    <div class="form-group d-flex col-12">
                                        <label class="form-label col-lg-4 fw-semibold align-self-center m-0">Kount
                                            : </label>
                                        <p-selectButton [options]="statuses" [(ngModel)]="whitelist" optionLabel="label"
                                            optionValue="value"></p-selectButton>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="editProfileDialog" [transitionOptions]="'0ms'" [style]="{width: '60vw'}" header="Edit profile"
    [modal]="true" styleClass="p-fluid" class="profileEditModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="editProfileForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">First Name</label>
                        <input type="text" formControlName="firstName" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Last Name</label>
                        <input type="text" formControlName="lastName" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Email</label>
                        <input type="email" formControlName="email" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Phone Number</label>
                        <input type="text" formControlName="mobileNumber" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Zip</label>
                        <input type="text" formControlName="zip" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Birthday</label>
                        <p-calendar [showIcon]="true" appendTo="body" inputId="icon" formControlName="bod"></p-calendar>
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData" class="mb-0 me-3">Email Opt-In</label>
                        <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Submit" icon="pi pi-check" class="p-button-text" [disabled]="editProfileForm.invalid"
            (click)="submit()"></p-button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>

<p-dialog [(visible)]="resetPasswordDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
    header="Reset Password" [modal]="true" styleClass="p-fluid" class="resetPasswordModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="resetPasswordForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field col-12 md:col-6 mb-0">
                        <label for="profileData">Email</label>
                        <input type="email" formControlName="email" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Password</label>
                        <input type="password" formControlName="resetPassword" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Confirm Password </label>
                        <input type="password" formControlName="confirmPassword" pInputText class="p-inputtext-sm">
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Reset Password" icon="pi pi-check" class="p-button-text" [disabled]="resetPasswordForm.invalid"
            (click)="reset()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editSvCardDialog" [transitionOptions]="'0ms'" [style]="{width: '60vw'}" header="Edit SV Card"
    [modal]="true" styleClass="p-fluid" class="editSvCardModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="editSvCardForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Card Number</label>
                        <input type="text" formControlName="cardNumber" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-6 mt-4 mb-0 d-flex flex-nowrap align-items-center">
                        <label for="profileData" class="mb-0 me-3">Auto-Reload</label>
                        <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
                    </div>
                    <div class="field md:col-12 mb-0">
                        <h6>Auto-Reload Preferences</h6>
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Payment Method</label>
                        <p-dropdown [options]="pCategory" formControlName="paymentMethod" optionLabel="name">
                        </p-dropdown>
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">Automatically Reload</label>
                        <p-dropdown [options]="accountAmounts" appendTo="body" formControlName="automaticallyReload"
                            optionLabel="name">
                        </p-dropdown>
                    </div>
                    <div class="field md:col-6 mb-0">
                        <label for="profileData">When Account is Below</label>
                        <p-dropdown [options]="accountAmounts" appendTo="body" formControlName="account"
                            optionLabel="name">
                        </p-dropdown>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Submit" icon="pi pi-check" class="p-button-text" [disabled]="editSvCardForm.invalid"
            (click)="submit()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="transferBalanceDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
    header="Transfer Balance" [modal]="true" styleClass="p-fluid" class="resetPasswordModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="transferBalanceForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field col-12 md:col-6 mb-0">
                        <label for="profileData">To Card Number</label>
                        <input type="text" formControlName="toCardNumber" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-8 mb-0">
                        <label for="profileData">From Card Number</label>
                        <input type="text" formControlName="fromCardNumber" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-4 mb-0">
                        <label for="profileData">From Pin </label>
                        <input type="text" formControlName="fromPin" pInputText class="p-inputtext-sm">
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Transfer Balance" icon="pi pi-check" class="p-button-text"
            [disabled]="transferBalanceForm.invalid" (click)="reset()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="addSvCardDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
    header="Add Stored Value to Profile" [modal]="true" styleClass="p-fluid" class="addSvCardModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="addSvCardForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field md:col-8 mb-0">
                        <label for="profileData">Card Number</label>
                        <input type="text" formControlName="cardNumber" pInputText class="p-inputtext-sm">
                    </div>
                    <div class="field md:col-4 mb-0">
                        <label for="profileData">Pin </label>
                        <input type="text" formControlName="pin" pInputText class="p-inputtext-sm">
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Add Card" icon="pi pi-check" class="p-button-text" [disabled]="addSvCardForm.invalid"
            (click)="reset()"></p-button>
    </ng-template>
</p-dialog>