<p-messages [(value)]="messageShow"></p-messages>
<ng-container *ngIf="profileDetails">
    <div class="col-lg-12 mt-4">
        <div class="card dtc-card">
            <div class="card-body">
                <div class="card dtc-profile-card">
                    <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                        <h5>Profile Details</h5>
                        <div class="action-wrapper">
                            <button pButton pRipple type="button" icon="pi pi-ellipsis-v" iconPos="right"
                                label="Actions" class="pe-0 p-button-text fw-bold p-button-rounded"
                                (click)="menu.toggle($event)"></button>
                            <p-menu appendTo="body" #menu [popup]="true" [model]="profileDetailsItems"
                                [style]="{'width':'220px'}">
                            </p-menu>
                        </div>
                    </div>
                    <div class="card-body col-lg-12">
                        <div class="row  mx-0">
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">First Name : </label>
                                <span>{{profileDetails?.firstname}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Last Name : </label>
                                <span>{{profileDetails?.lastname}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Email : </label>
                                <span>{{profileDetails?.email}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Phone Number : </label>
                                <span> {{profileDetails?.phone}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Zip : </label>
                                <span>{{profileDetails?.postalcode}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Birthday : </label>
                                <span>{{profileDetails?.birthday | date: 'MM/dd/yyyy'}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">UUID : </label>
                                <span>{{profileDetails?.uuid}}</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-semibold">Email OptIn : </label>
                                <span>{{profileDetails?.emailOptIn}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 mt-4 tabViewCustome">
                    <p-tabView styleClass="tabview-custom" (onChange)="handleChange($event)">
                        <p-tabPanel header="Stored value cards">
                            <ng-template pTemplate="header">
                                <i class="pi pi-wallet pr-2"></i>
                                <span>Stored value cards</span>
                            </ng-template>
                            <app-stored-cards [profileDetails]="profileDetails"
                                (onSucessMessageEvent)="onSucessMessage($event)"
                                (onErrorMessageEvent)="onErrorMessage($event)"></app-stored-cards>
                        </p-tabPanel>
                        <p-tabPanel header="Credit Cards">
                            <ng-template pTemplate="header">
                                <i class="pi pi-credit-card pr-2"></i>
                                <span>Credit Cards</span>
                            </ng-template>
                            <ng-container *ngIf="selectedTabIndex === 1">
                                <app-credit-cards [profileDetails]="profileDetails"
                                    (onSucessMessageEvent)="onSucessMessage($event)"
                                    (onSucessMessageEvent)="onSucessMessage($event)"></app-credit-cards>
                            </ng-container>
                        </p-tabPanel>
                        <p-tabPanel header="Order History">
                            <ng-template pTemplate="header">
                                <i class="pi pi-cart-plus pr-2"></i>
                                <span>Order History</span>
                            </ng-template>
                            <ng-container *ngIf="selectedTabIndex === 2">
                                <app-order-history [profileDetails]="profileDetails" [email]="profileDetails?.email"
                                    (onSucessMessageEvent)="onSucessMessage($event)"
                                    (onSucessMessageEvent)="onSucessMessage($event)"></app-order-history>
                            </ng-container>
                        </p-tabPanel>
                        <p-tabPanel header="Third Party">
                            <ng-template pTemplate="header">
                                <i class="pi pi-users pr-2"></i>
                                <span>Third Party</span>
                            </ng-template>
                            <ng-container *ngIf="selectedTabIndex === 3">
                                <app-third-party [profileDetails]="profileDetails"
                                    (onSucessMessageEvent)="onSucessMessage($event)"
                                    (onSucessMessageEvent)="onSucessMessage($event)"></app-third-party>
                            </ng-container>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>

    <p-dialog [(visible)]="editProfileDialog" [transitionOptions]="'0ms'" [style]="{width: '60vw'}"
        header="Edit profile" [modal]="true" styleClass="p-fluid" class="profileEditModal">
        <ng-template pTemplate="content">
            <div class="col">
                <form [formGroup]="editProfileForm" rule="form" novalidate>
                    <div class="p-fluid grid">
                        <div class="field md:col-6 mb-0">
                            <label for="firstname">First Name</label>
                            <input type="text" inputId="firstname" formControlName="firstname" pInputText
                                pKeyFilter="alpha">
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="lastname">Last Name</label>
                            <input type="text" inputId="lastname" formControlName="lastname" pInputText
                                pKeyFilter="alpha">
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="email">Email</label>
                            <input type="text" inputId="email" formControlName="email" pInputText>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="phone">Phone Number</label>
                            <input type="text" inputId="phone" formControlName="phone" pInputText pKeyFilter="num">
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="postalcode">Zip</label>
                            <input type="text" inputId="postalcode" formControlName="postalcode" pInputText
                                pKeyFilter="num">
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="birthday">Birthday</label>
                            <p-calendar [showIcon]="true" appendTo="body" inputId="icon" inputId="birthday"
                                formControlName="birthday"></p-calendar>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="emailOptIn" class="mb-0 me-3">Email Opt-In</label>
                            <p-checkbox [binary]="true" inputId="emailOptIn"
                                [formControl]="editProfileFormControl?.emailOptIn" inputId="binary"></p-checkbox>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <p-button label="Save" icon="pi pi-check" class="p-button-text" (click)="updateProfile()"
                [disabled]="editProfileForm.invalid"></p-button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>

    <p-dialog [(visible)]="resetPasswordDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
        header="Reset Password" [modal]="true" styleClass="p-fluid" class="resetPasswordModal">
        <ng-template pTemplate="content">
            <div class="col">
                <form [formGroup]="resetPasswordForm" rule="form" novalidate>
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-6 mb-0">
                            <label for="email">Email</label>
                            <input type="email" inputId="email" formControlName="email" pInputText disabled="true">
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="password">Password</label>
                            <p-password inputId="password" formControlName="password" [toggleMask]="true"
                                [feedback]="false"></p-password>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="confirmPassword">Confirm Password </label>
                            <p-password inputId="password" inputId="confirmPassword" formControlName="confirmPassword"
                                [toggleMask]="true" [feedback]="false"></p-password>
                        </div>
                        <div class="field col-12 md:col-6 mb-0">
                            <ul class="pl-2 ml-2 mt-2 mb-0">
                                <li [ngClass]="{
                                    'text-success fw-semibold':!(resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('minlength')),
                                    '': !resetPasswordForm.get('password').dirty,
                                    'text-danger fw-semibold': resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('minlength'))
                                  }">
                                    Password requires at least 6 characters.
                                    <span class="ps-1 fs-5">
                                        <i *ngIf="resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                        resetPasswordForm.get('password').hasError('minlength'))"
                                            class="bi bi-x-circle-fill"></i>
                                        <i *ngIf="!(resetPasswordForm.get('password').hasError('required') || 
                                        resetPasswordForm.get('password').hasError('minlength'))"
                                            class="bi bi-check-circle-fill"></i>
                                    </span>
                                </li>
                                <li [ngClass]="{
                                    'text-success fw-semibold':!(resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasSmallCase')),
                                    '': !resetPasswordForm.get('password').dirty,
                                    'text-danger fw-semibold': resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasSmallCase'))
                                  }">At least one lowercase alphabetic character (a-z).
                                    <span class="ps-1 fs-5">
                                        <i *ngIf="resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasSmallCase'))"
                                            class="bi bi-x-circle-fill"></i>
                                        <i *ngIf="!(resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasSmallCase'))"
                                            class="bi bi-check-circle-fill"></i>
                                    </span>
                                </li>
                                <li [ngClass]="{
                                    'text-success fw-semibold':!(resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasNumber')),
                                    '': !resetPasswordForm.get('password').dirty,
                                    'text-danger fw-semibold': resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                    resetPasswordForm.get('password').hasError('hasNumber'))
                                  }">At least one number (0-9).
                                    <span class="ps-1 fs-5">
                                        <i *ngIf="resetPasswordForm.get('password').dirty && (resetPasswordForm.get('password').hasError('required') || 
                                resetPasswordForm.get('password').hasError('hasNumber'))"
                                            class="bi bi-x-circle-fill"></i>
                                        <i *ngIf="!(resetPasswordForm.get('password').hasError('required') || 
                                resetPasswordForm.get('password').hasError('hasNumber'))"
                                            class="bi bi-check-circle-fill"></i>
                                    </span>
                                </li>
                                <li [ngClass]="{
                                    'text-success fw-semibold':!(resetPasswordForm.get('confirmPassword').hasError('required') || 
                                    resetPasswordForm.get('confirmPassword').hasError('NoPassswordMatch')),
                                    '': !resetPasswordForm.get('confirmPassword').dirty,
                                    'text-danger fw-semibold': resetPasswordForm.get('confirmPassword').dirty && (resetPasswordForm.get('confirmPassword').hasError('required') || 
                                    resetPasswordForm.get('confirmPassword').hasError('NoPassswordMatch'))
                                  }">Confirm Password Match.
                                    <span class="ps-1 fs-5">
                                        <i *ngIf="resetPasswordForm.get('confirmPassword').dirty && (resetPasswordForm.get('confirmPassword').hasError('required') || 
                            resetPasswordForm.get('confirmPassword').hasError('NoPassswordMatch'))"
                                            class="bi bi-x-circle-fill"></i>
                                        <i *ngIf="!(resetPasswordForm.get('confirmPassword').hasError('required') || 
                            resetPasswordForm.get('confirmPassword').hasError('NoPassswordMatch'))"
                                            class="bi bi-check-circle-fill"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <p-button label="Reset Password" icon="pi pi-check" class="p-button-text"
                [disabled]="resetPasswordForm.invalid" (click)="updateProfilePassword()"></p-button>
        </ng-template>
    </p-dialog>
</ng-container>