.plain-data-table{
    .p-datatable-body{
        tr{
            td{text-align: left;
                border: 1px solid #e9ecef;
                border-width: 0 0 1px 0;
                padding: 1rem 1rem;}
        }
    }
}
