<div class="container dtc-page-wrapper dtc-customer-page-wrapper">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="col-lg-12 mb-4">Multiple Transfer Balance</h5>
                <div class="card dtc-profile-card">
                    <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                        <h5>Transfer To</h5>
                    </div>
                    <div class="card-body col-lg-12">
                        <form [formGroup]="transferBalanceForm" rule="form" novalidate>
                            <div class="p-fluid grid formgrid flex-nowrap">
                                <div class="field col-6 md:col-4 d-flex align-items-center">
                                    <label for="number" class="form-label fw-semibold col-lg-4">PC Number : </label>
                                    <input type="text" inputId="number" pKeyFilter="num"
                                        formControlName="number" pInputText>
                                </div>
                                <div class="field col-6 md:col-4 d-flex align-items-center">
                                    <label for="pin" class="form-label fw-semibold col-lg-3 text-right pe-3">Pin :
                                    </label>
                                    <input type="text" inputId="pin" pKeyFilter="num"
                                        formControlName="pin" pInputText>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <b>Balance: {{balance | currency: 'USD'}}</b>
                                <div class="action-wrapper">
                                    <button pButton type="button" class="me-3 p-button-rounded" icon="pi pi-sync"
                                        label="Check Balance" (click)="transferBalance()"></button>
                                    <button pButton type="button" icon="pi pi-times"
                                        class="p-button-outlined fw-semibold p-button-rounded"
                                        (click)="clear()" label="Clear"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col dataTableCustome">
                    <p-table styleClass="main-table" #dt [value]="multiBalanceTransfer" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-between w-100">
                                <h5>Multiple Balance Transfer</h5>
                                <button pButton label="Add" class="p-button-outlined fw-semibold p-button-rounded"
                                    (click)="add()" icon="pi pi-plus"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>PC Number
                                </th>
                                <th>SV Card
                                </th>
                                <th>Balance
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-transfer>
                            <tr>
                                <td>
                                    <input type="text" pInputText class="p-inputtext-sm">
                                </td>
                                <td>
                                    <input type="text" pInputText class="p-inputtext-sm">
                                </td>
                                <td class="d-flex align-items-center justify-content-between">
                                    <span>$12</span>
                                    <div>
                                        <button pButton type="button" icon="pi pi-sync" class="p-button-rounded"
                                            label="Check Balance"></button>
                                        <button pButton pRipple type="button" *ngIf="multiBalanceTransfer?.length > 1"
                                            class="p-button-outlined fw-semibold p-button-rounded p-button-danger ms-2"
                                            icon="pi pi-trash" label="Delete" (click)="delete()"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No order history vailable.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="col-md-6 offset-md-6 d-flex flex-row justify-content-between align-items-center mt-3">
                        <b [ngStyle]="{'padding-left':multiBalanceTransfer?.length === 1 ? '13.6rem' : '5.6rem' }">Total:
                            {{total | currency:'USD'}}</b>
                        <button pButton type="button" icon="pi pi-credit-card" class="p-button-rounded"
                            label="Transfer"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>