// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


.bg-theme {
  --bs-bg-opacity: 1;
  background-color: $base-theme-color  !important;
}

body{
  background-color: $body-bg;
}

.dtc-page-wrapper{
  display: flex;
  flex-wrap : wrap;
  .p-dropdown, .p-input-icon-left, .p-inputtext{
    width: 100%;
  }
}
.vr-divider{
  width: 1px;
  height: 56px;
  background-color: white;
  opacity: 0.5;
}