<div class="container dtc-page-wrapper dtc-customer-page-wrapper">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="col-lg-12 mb-3">Profile Search</h5>
                <div class="row mx-0 flex-nowrap">
                    <div class="col-lg-3 ps-0">
                        <p-dropdown [options]="profileSearchValues" [(ngModel)]="selectedValue" (onChange)="changeProfileSearch()">
                        </p-dropdown>
                    </div>
                    <div class="col-lg-7">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search by {{selectedValue}}"
                                [formControl]="searchValue" (keyup.enter)="search()" />
                        </span>
                    </div>
                    <div class="col-lg-2 px-0">
                        <button pButton type="button" icon="pi pi-search" class="p-button-rounded ms-2 w-8" label="Search"
                            [disabled]="searchValue.invalid" (click)="search()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="profileDetails">
        <app-profile-details [profileDetails]="profileDetails"></app-profile-details>
    </ng-container>
</div>