<div class="container dtc-page-wrapper dtc-customer-page-wrapper">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="col-lg-12 mb-3">Profile Search</h5>
                <div class="row mx-0 flex-nowrap">
                    <div class="col-lg-3 ps-0">
                        <p-dropdown [options]="pCategory" [(ngModel)]="selectedCategory" optionLabel="name">
                        </p-dropdown>
                    </div>
                    <div class="col-lg-7">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search" [(ngModel)]="value3" />
                        </span>
                    </div>
                    <div class="col-lg-2 px-0">
                        <button pButton type="button" label="Search"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        <div class="card dtc-card">
            <div class="card-body">
                <div class="card dtc-profile-card">
                    <div class="card-header d-flex flex-nowrap justify-content-between align-items-center">
                        <h5>Profile Details</h5>
                        <div class="action-wrapper">
                            <button pButton pRipple type="button" icon="pi pi-ellipsis-v" iconPos="right" label="Actions"
                                class="pe-0 p-button-text" (click)="menu.toggle($event)"></button>
                            <p-menu appendTo="body" #menu [popup]="true" [model]="items"></p-menu>
                        </div>
                    </div>
                    <div class="card-body col-lg-12">
                        <div class="row  mx-0">
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">First Name : </label>
                                <span>John</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Last Name : </label>
                                <span>Smith</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Email : </label>
                                <span>JohnSmith@gmail.com</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Phone Number : </label>
                                <span> 111-111-1111</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Zip : </label>
                                <span>21075</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Birthday : </label>
                                <span>12-06-1956</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">VVID : </label>
                                <span>00upADyh786jHTkl07</span>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-label col-lg-4 fw-bold">Email OptIn : </label>
                                <span>True</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 mt-3 tabViewCustome">
                    <p-tabView styleClass="tabview-custom">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <i class="pi pi-wallet pr-2"></i>
                                <span>Stored value cards</span>
                            </ng-template>
                            <div class="row mx-0">
                                <div class="col dataTableCustome">
                                    <p-table styleClass="main-table" #dt [value]="storedCards"
                                        dataKey="creditCardNumber" [rows]="10" [showCurrentPageReport]="true"
                                        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                                        selectionMode="single"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                        [globalFilterFields]="['creditCardNumber','value', 'primary', 'autoreload','aramount', 'arThreshold', 'cc']"
                                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                        <ng-template pTemplate="caption">
                                            <div class="d-flex justify-content-between w-100">
                                                <span class="p-input-icon-left w-75 pr-4">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" class="w-100"
                                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                        placeholder="Search keyword" />
                                                </span>
                                                <button pButton label="Add SV Card" class="p-button-outlined"
                                                    icon="pi pi-plus"></button>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="creditCardNumber">Credit card Number <p-sortIcon
                                                        field="creditCardNumber"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="value">Value <p-sortIcon field="value">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="primary">Primary <p-sortIcon field="primary">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="autoreload">Autoreload <p-sortIcon
                                                        field="autoreload"></p-sortIcon>
                                                <th pSortableColumn="aramount">ARAmount <p-sortIcon field="aramount">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="arThreshold">ARThreshold <p-sortIcon
                                                        field="arThreshold"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="cc">CC <p-sortIcon field="cc"></p-sortIcon>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-cards>
                                            <tr [pSelectableRow]="cards">
                                                <td>
                                                    {{cards?.creditCardNumber}}
                                                </td>
                                                <td>
                                                    {{cards?.value}}
                                                </td>
                                                <td>
                                                    {{cards?.primary}}
                                                </td>
                                                <td>
                                                    {{cards?.autoreload}}
                                                </td>
                                                <td>
                                                    {{cards?.aramount}}
                                                </td>
                                                <td>
                                                    {{cards?.arThreshold}}
                                                </td>
                                                <td>
                                                    {{cards?.cc}}
                                                </td>
                                                <td style="text-align:center">
                                                    <i class="pi pi-ellipsis-v" (click)="action.toggle($event)"></i>
                                                    <p-menu appendTo="body" #action [popup]="true" [model]="actions">
                                                    </p-menu>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="5">No subscriptions found.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Credit Cards">
                            <ng-template pTemplate="header">
                                <i class="pi pi-credit-card pr-2"></i>
                                <span>Credit Cards</span>
                            </ng-template>
                            <div class="row mx-0">
                                <div class="col dataTableCustome">
                                    <p-table styleClass="main-table" #dt1 [value]="creditCards"
                                        dataKey="creditCardNumber" [rows]="10" [showCurrentPageReport]="true"
                                        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
                                        selectionMode="single"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                        [globalFilterFields]="['creditCardNumber','type', 'expiry', 'billingZip','primary']"
                                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                                        <ng-template pTemplate="caption">
                                            <div class="d-flex justify-content-between w-100">
                                                <span class="p-input-icon-left w-75 pr-4">
                                                    <i class="pi pi-search"></i>
                                                    <input pInputText type="text" class="w-100"
                                                        (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                                        placeholder="Search keyword" />
                                                </span>
                                                <button pButton label="Add SV Card" class="p-button-outlined"
                                                    icon="pi pi-plus"></button>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="creditCardNumber">Credit Card Number <p-sortIcon
                                                        field="creditCardNumber"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="expiry">Expiry <p-sortIcon field="expiry">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="billingZip">Billing Zip <p-sortIcon
                                                        field="billingZip"></p-sortIcon>
                                                </th>
                                                <th pSortableColumn="primary">Primary <p-sortIcon field="primary">
                                                    </p-sortIcon>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-ccards>
                                            <tr [pSelectableRow]="ccards">
                                                <td>
                                                    {{ccards?.creditCardNumber}}
                                                </td>
                                                <td>
                                                    {{ccards?.type}}
                                                </td>
                                                <td>
                                                    {{ccards?.expiry}}
                                                </td>
                                                <td>
                                                    {{ccards?.billingZip}}
                                                </td>
                                                <td>
                                                    {{ccards?.primary}}
                                                </td>

                                                <td style="text-align:center">
                                                    <button pButton pRipple icon="pi pi-trash" type="button" label="Delete"
                                                        class="p-button-text"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="5">No credit cards found.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Kount">
                            <ng-template pTemplate="header">
                                <i class="pi pi-shield pr-2"></i>
                                <span>Kount</span>
                            </ng-template>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati
                                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                                id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                                distinctio.
                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                            </p>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>