<div class="stored-cards">
    <p-table styleClass="main-table" #dt [value]="storedCards" dataKey="number" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
        selectionMode="single" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['number','value', 'isprimary', 'autoreload.active','autoreload.amount', 'autoreload.threshold']">
        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between w-100">
                <span class="p-input-icon-left w-75 pr-4">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="w-100"
                        (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
                <button pButton label="Add SV Card" class="p-button-outlined fw-semibold p-button-rounded"
                    icon="pi pi-plus" (click)="addSvCard()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="number">Number <p-sortIcon field="number"></p-sortIcon>
                </th>
                <th pSortableColumn="value">Value <p-sortIcon field="value">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="isprimary">Primary <p-sortIcon field="isprimary">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="autoreload.active">Auto Reload <p-sortIcon field="autoreload.active"></p-sortIcon>
                <th pSortableColumn="autoreload.amount">Auto Reload Amount <p-sortIcon field="autoreload.amount">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="autoreload.threshold">Auto Reload Threshold
                    <p-sortIcon field="autoreload.threshold"></p-sortIcon>
                </th>
                <th>CC</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cards>
            <tr [pSelectableRow]="cards">
                <td>
                    {{cards?.number}}
                </td>
                <td>
                    {{cards?.value}}
                </td>
                <td>
                    {{cards?.isprimary}}
                </td>
                <td>
                    {{cards?.autoreload?.active}}
                </td>
                <td>
                    {{cards?.autoreload?.amount | currency:'USD'}}
                </td>
                <td>
                    {{cards?.autoreload?.threshold}}
                </td>
                <td>
                    {{getCC(cards?.autoreload?.source)}}
                </td>
                <td style="text-align:center">
                    <button pButton pRipple type="button" class="p-button-rounded p-button-text" icon="pi pi-ellipsis-v"
                        (click)="action.toggle($event);selectedStoredCard(cards)"></button>
                    <p-menu #action appendTo="body" [popup]="true" [model]="actions" [style]="{'width':'280px'}">
                    </p-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No stored cards found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="editSvCardDialog" [transitionOptions]="'0ms'" [style]="{width: '60vw'}" header="Edit SV Card"
    [modal]="true" styleClass="p-fluid" class="editSvCardModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="editSvCardForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field md:col-6 mb-0">
                        <label for="number">Card Number</label>
                        <input type="text" disabled="true" inputId="number" formControlName="number" pInputText>
                    </div>
                    <div class="field md:col-6 mt-4 mb-0 d-flex flex-nowrap align-items-center">
                        <label for="autoreloadflag" class="mb-0 me-3">Auto-Reload</label>
                        <p-checkbox [binary]="true" [formControl]="editSvCardForm.controls['autoreloadflag']"
                            inputId="autoreloadflag" (onChange)="autoreloadflagEvent($event)"></p-checkbox>
                    </div>
                    <ng-container *ngIf="editSvCardForm.controls['autoreloadflag'].value">
                        <div class="field md:col-12 mb-0">
                            <h6>Auto-Reload Preferences</h6>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="profileData">Payment Method</label>
                            <p-dropdown [options]="creditCards" appendTo="body" formControlName="paymentMethod"
                                optionLabel="displayname" [filter]="true" filterBy="displayname" [showClear]="true"
                                placeholder="Select a Payment Method">
                                <ng-template pTemplate="selectedItem">
                                    <div class="d-flex align-items-center" *ngIf="editSvCardForm.get('paymentMethod')">
                                        <img width="30" height="28"
                                            src="assets/images/{{editSvCardForm.get('paymentMethod')?.value?.cardtype}}.svg"
                                            alt="{{editSvCardForm.get('paymentMethod').value?.cardtype}}" />
                                        <div class="pl-2">{{editSvCardForm.get('paymentMethod')?.value?.displayname}}
                                            ({{editSvCardForm.get('paymentMethod')?.value?.cardnumber}})</div>
                                    </div>
                                </ng-template>
                                <ng-template let-card pTemplate="item">
                                    <div class="d-flex align-items-center">
                                        <img width="40" height="40" src="assets/images/{{card?.cardtype}}.svg"
                                            alt="{{card?.cardtype}}" />
                                        <div class="pl-2">{{card?.displayname}} ({{card?.cardnumber}})</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="profileData">Automatically Reload</label>
                            <p-dropdown [options]="amountDropdown" appendTo="body" formControlName="amount">
                            </p-dropdown>
                        </div>
                        <div class="field md:col-6 mb-0">
                            <label for="profileData">When Account is Below</label>
                            <p-dropdown [options]="thresholdDropdown" appendTo="body" formControlName="threshold">
                            </p-dropdown>
                        </div>
                    </ng-container>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Submit" icon="pi pi-check" class="p-button-text" [disabled]="editSvCardForm.invalid"
            (click)="updateSvc()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="transferBalanceDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
    header="Transfer Balance" [modal]="true" styleClass="p-fluid" class="resetPasswordModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="transferBalanceForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field col-12 md:col-6 mb-0">
                        <label for="tocard">To Card Number</label>
                        <input type="text" disabled="true" inputId="tocard" formControlName="tocard" pInputText>
                    </div>
                    <div class="field md:col-8 mb-0">
                        <label for="fromcard">From Card Number</label>
                        <input type="text" inputId="fromcard" formControlName="fromcard" pInputText>
                    </div>
                    <div class="field md:col-4 mb-0">
                        <label for="profileData">From Pin </label>
                        <input type="text" formControlName="fromPin" pInputText>
                    </div>
                </div>
            </form>
            <br>
            <h4>Balance: <span class="text-success">{{balance | currency: 'USD'}}</span></h4>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button [label]="balance ? 'Transfer Balance' : 'Get Balance'" icon="pi pi-check" class="p-button-text"
            [disabled]="transferBalanceForm.invalid" (click)="transferBalanceEvent()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="addSvCardDialog" [transitionOptions]="'0ms'" [style]="{width: '40vw'}"
    header="Add Stored Value to Profile" [modal]="true" styleClass="p-fluid" class="addSvCardModal">
    <ng-template pTemplate="content">
        <div class="col">
            <form [formGroup]="addSvCardForm" rule="form" novalidate>
                <div class="p-fluid grid">
                    <div class="field md:col-8 mb-0">
                        <label for="profileData">Card Number</label>
                        <input type="text" formControlName="number" pKeyFilter="num" pInputText>
                    </div>
                    <div class="field md:col-4 mb-0">
                        <label for="profileData">Pin </label>
                        <input type="text" formControlName="pin" pKeyFilter="num" pInputText>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <p-button label="Add Card" icon="pi pi-check" class="p-button-text" [disabled]="addSvCardForm.invalid"
            (click)="addSvCardSubmit()"></p-button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '600px'}"></p-confirmDialog>